/target
dependencies/
.dependency_reading.toml
remappings.txt
crawler/target/
*.DS_Store*
package-lock.json
package.json
repositories.db
crawler/node_modules/
crawler/zipped/*
crawler/zipped/
src/soldeer.toml
*soldeer.lock
test/*
!emptyfile
!emptyfile2
test_push_sensitive
test_push_skip_sensitive