[package]
authors = ["m4rio"]
categories = ["development-tools", "development-tools"]
description = "A solidity package manager written in rust. It's minimal and easy within your solidity project. Works best with foundry."
edition = "2021"
exclude = [".github/*", ".vscode/*"]
homepage = "https://github.com/mario-eth/soldeer"
keywords = ["solidity", "package-manager"]
license = "MIT"
name = "soldeer"
readme = "./README.md"
repository = "https://github.com/mario-eth/soldeer"
version = "0.2.19"

[dependencies]
chrono = {version = "0.4.38", default-features = false, features = [
  "std",
  "serde",
]}
clap = {version = "4.5.9", features = ["derive"]}
email-address-parser = "2.0.0"
futures = "0.3.30"
once_cell = "1.19"
regex = "1.10.5"
reqwest = {version = "0.12.5", features = [
  "blocking",
  "json",
  "multipart",
  "stream",
], default-features = false}
rpassword = "7.3.1"
serde = "1.0.204"
serde_derive = "1.0.204"
serde_json = "1.0.120"
sha256 = "1.5.0"
simple-home-dir = "0.3.5"
tokio = {version = "1.38.0", features = ["rt-multi-thread", "macros"]}
toml = "0.8.14"
toml_edit = "0.22.15"
uuid = {version = "1.10.0", features = ["serde", "v4"]}
walkdir = "2.5.0"
yansi = "1.0.1"
yash-fnmatch = "1.1.1"
zip = {version = "2.1.3", default-features = false, features = ["deflate"]}
zip-extract = "0.1.3"

[dev-dependencies]
env_logger = "0.11.3"
mockito = "1.4.0"
rand = "0.8.5"
serial_test = "3.1.1"

[lib]
name = "soldeer"
path = "src/lib.rs"

[[bin]]
name = "soldeer"
path = "src/main.rs"

[features]
default = ["rustls"]
rustls = ["reqwest/rustls-tls"]

[profile.test]
opt-level = 2
